<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'list_css.css' %}">
    <title>Confirm Delete</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <h1>Are you sure you want to delete "{{med.name}}"?</h1>
        <input type="submit" value="Confirm" class="btn btn-danger">
        <a class="btn btn-outline-primary" href="{% url 'listmed' %}">Back</a>
    </form>
</body>
</html>