<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Medicine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'update_css.css' %}">

</head>
<body>
    <div class="product-container">
        <h2>Update Details</h2>
        <form method="post" action="">
            {% csrf_token %}
            <label for="name">Name:</label>
            {{form.name}}

            <label for="price">Price:</label>
            {{form.price}}

            <label for="description">Description:</label>
            {{form.description}}

            <label for="category">Category:</label>
            {{form.category}}

            <button type="submit">Update</button>
            <a class="btn btn-primary" href="{% url 'user' %}">Back</a>
        </form>
    </div>
</body>
</html>
